header {
    text-align: center;
    
}

section {
    background-color: black;
    padding: 2.5%;
}

footer p {
    margin: auto;
    color: white;
    text-align: center;
    font-size: small;
}

.container {
    width: 100%;
}

.col-sm {
    text-align: center;
}

.card {
    margin: 5%;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: gray;
}

.nav-item {
    list-style-type: none;
}

.brand {
    margin-left: -55%;
}

.rank {
    margin-left: -33%;
}

.user {
    margin-left: -42%;
}

.link-description {
    font-size: 70%;
}

.play {
    width: 2rem;
}

.btn {
    width: 100%;
}

.credits {
    font-size: x-small;
    margin-top: 3%;
}

#brand-title {
    margin-top: 25%;
    margin-bottom: -1.5%;
}

#trophy-title {
    margin-top: 15%;
    margin-bottom: -1%;
}

#user-title {
    margin-top: 15%;
    margin-bottom: -0.5%;
}

#player {
    width: 10%;
    margin-bottom: -2.5%;
}

#trophy {
    width: 15%;
    margin-bottom: -4%;
}

#cover {
    width: 100%;
}

#logo {
    width: 12%;
    margin-bottom: -5.5%;
}